

      <!-- Header Start -->
      <!-- <header>
        <div class="container">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
              <img src="images/logo.svg" alt="image">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                <div class="toggle-wrap">
                  <span class="toggle-bar"></span>
                </div>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./about.html">About us</a>
                </li>
                <li class="nav-item has_dropdown">
                  <a class="nav-link" href="#">Neo Rx</a>
                  <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
                  <div class="sub_menu">
                    <ul>
                      <li><a href="./AboutApp.html">About app</a></li>
                      <li><a href="./WhyNeoRx.html">Why Neo Rx?</a></li>
                      <li><a href="./Sciencebehind.html">Science behind the app</a></li>
                      <li><a href="#">User manual</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">FAQ</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><img src="./images/HomePage/Unitedflag.svg" alt=""></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header> -->

       <!-- Header Start -->
 <!-- <header>
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/logo.svg" alt="image">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <div class="toggle-wrap">
            <span class="toggle-bar"></span>
          </div>
        </span>
      </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active">About us</a>
          </li>
          <li class="nav-item has_dropdown">
            <a class="nav-link"  routerLinkActive="active">Neo Rx</a>
            <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
            <div class="sub_menu">
              <ul>
                <li><a routerLink="about-app" routerLinkActive="active">About app</a></li>
                <li><a routerLink="why-neo-rx" routerLinkActive="active">Why Neo Rx?</a></li>
                <li><a routerLink="sciencebehind" routerLinkActive="active">Science behind the app</a></li>
                <li><a routerLink="usermanual" routerLinkActive="active">User manual</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
                 <li class="nav-item">
            <a class="nav-link" routerLink="#" routerLinkActive="active" >Contact</a>
          </li>
          <li class="nav-item has_dropdown">
            <a class="nav-link" routerLink="#" ><img src="../../assets/images/United Kingdom (GB).svg" alt=""></a>
            <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
            <div class="sub_menu">
              <ul>
                <li><img style="width: 30px; height: auto; display: flex;" src="../../assets/images/India_Flag.svg" alt="flag"><a
                    routerLink="#" ></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header> -->
<!-- Header -Section- End -->


<!-- Header Start -->
<header>
  <!-- container start -->
  <div class="container">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/logo.svg" alt="image" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <!-- <i class="icofont-navigation-menu ico_menu"></i> -->
          <div class="toggle-wrap">
            <span class="toggle-bar"></span>
          </div>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <div class="sethederProper"> -->
        <ul class="navbar-nav ml-auto">
          <!-- secondery menu end -->
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active">About us</a>
          </li>

          <li class="nav-item has_dropdown">
            <a
              class="nav-link"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Neo Rx
              <span class="drp_btn pl-3"><i class="icofont-rounded-down"></i></span>
            </a>

            <div class="dropdown-mob-menu dropdown-menu">
              <ul>
                <li><a routerLink="about-app" routerLinkActive="active">About app</a></li>
                <li>
                  <a routerLink="why-neo-rx" routerLinkActive="active">Why Neo Rx?</a>
                </li>
                <li><a routerLink="sciencebehind" routerLinkActive="active">Science behind the app</a></li>
                <li><a routerLink="#" >User manual</a></li>
                <!-- <li><a href="#">Clinical trials</a></li> -->
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pricing.html">FAQ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pricing.html">Contact</a>
          </li>


          <li class="nav-item has_dropdown">
            <a
              class="nav-link"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
            <img
            src="../../assets/images/United Kingdom (GB).svg"
            alt=""
        />
              <span class="drp_btn pl-4"><i class="icofont-rounded-down"></i></span>
            </a>

            <div class="dropdown-mob-menu dropdown-menu">
              <ul>
                <li>  <img
                  style="width: 30px; height: auto; display: flex;"
                  src="../../assets/images/India_Flag.svg"
                  alt=""
              /></li>


              </ul>
            </div>
          </li>

        </ul>
        <!-- </div> -->
      </div>
    </nav>
    <!-- navigation end -->
  </div>
  <!-- container end -->
</header>

<!-- <app-banner></app-banner> -->

