<!-- Header Start -->
<header>
  <!-- container start -->
  <div class="container">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/logo.svg" alt="image" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <!-- <i class="icofont-navigation-menu ico_menu"></i> -->
          <div class="toggle-wrap">
            <span class="toggle-bar"></span>
          </div>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <div class="sethederProper"> -->
        <ul class="navbar-nav ml-auto">
          <!-- secondery menu end -->
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active">About us</a>
          </li>

          <li class="nav-item has_dropdown">
            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Neo Rx
              <span class="drp_btn pl-3"><i class="icofont-rounded-down"></i></span>
            </a>

            <div class="dropdown-mob-menu dropdown-menu">
              <ul>
                <li><a routerLink="about-app" routerLinkActive="active">About app</a></li>
                <li>
                  <a routerLink="why-neo-rx" routerLinkActive="active">Why Neo Rx?</a>
                </li>
                <li><a routerLink="sciencebehind" routerLinkActive="active">Science behind the app</a></li>
                <li><a routerLink="#">User manual</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="helpcenter" routerLinkActive="active">FAQ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
          </li>


          <li class="nav-item ">
            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              <img src="../../assets/images/United Kingdom (GB).svg" alt="" />
              <!-- <span class="drp_btn pl-4"><i class="icofont-rounded-down"></i></span> -->
            </a>


          </li>

        </ul>
        <!-- </div> -->
      </div>
    </nav>
    <!-- navigation end -->
  </div>
  <!-- container end -->
</header>

<!-- <app-banner></app-banner> -->
