<!-- Header Start -->
<header>
  <!-- container start -->
  <div class="container">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/logo.svg" alt="image">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <!-- <i class="icofont-navigation-menu ico_menu"></i> -->
          <div class="toggle-wrap">
            <span class="toggle-bar"></span>
          </div>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <div class="sethederProper"> -->
        <ul class="navbar-nav ml-auto">


          <!-- secondery menu end -->
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About us</a>
          </li>
          <!-- secondery menu start -->
          <li class="nav-item has_dropdown">
            <a class="nav-link" href="#">Neo Rx</a>
            <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
            <div class="sub_menu">
              <ul>
                <li><a href="about.html">About app</a></li>
                <li><a href="#">Science behind the app</a></li>
                <li><a href="#">User manual</a></li>
                <li><a href="#">Benefits</a></li>
                <li><a href="#">Clinical trials</a></li>
              </ul>
            </div>
          </li>
          <!-- secondery menu end -->

          <li class="nav-item">
            <a class="nav-link" href="pricing.html">FAQ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pricing.html">Contact</a>
          </li>

          <!-- secondery menu start -->
          <li class="nav-item has_dropdown">
            <a class="nav-link" href="#"><img src="../../../../assets/images/United Kingdom (GB).svg" alt=""></a>
            <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
            <div class="sub_menu">
              <ul>
                <li><a href="blog-list.html">Blog List</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
              </ul>
            </div>
          </li>
          <!-- secondery menu end -->


        </ul>
        <!-- </div> -->
      </div>
    </nav>
    <!-- navigation end -->
  </div>
  <!-- container end -->
</header>

<!-- <app-banner></app-banner> -->
