<footer>
  <div class="top_footer" id="contact">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">

        <!-- footer link 1 -->
        <div class="col-lg-2 col-md-6 col-12">
          <div class="abt_side">
            <div class="logo"> <img src="../../../../assets/images/logo.svg" alt="image"></div>

          </div>
        </div>

        <!-- footer link 2 -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="links">

            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">About the App</a></li>
              <li><a href="#">Science Behind the App</a></li>
              <li><a href="#">User Manual</a></li>
              <li><a href="#">Benefits of the App</a></li>
            </ul>
          </div>
        </div>

        <!-- footer link 3 -->
        <div class="col-lg-3 col-md-6 col-12">
          <div class="links">

            <ul>
              <li><a href="#">Clinical Trials</a></li>
              <li><a href="#">User Testimonials</a></li>
              <li><a href="#">Help Centre</a></li>
              <li><a href="#">Term</a></li>
              <li><a href="#">privacy policy</a></li>
            </ul>
          </div>
        </div>

        <!-- footer link 4 -->
        <div class="col-lg-2 col-md-6 col-12">
          <div class="try_out">
            <h3>Our contacts:</h3>
            <ul>
              <li><a href="#"><i class="icofont-ui-message"></i> impute.co.jp</a></li>
              <li><a href="#"><i class="icofont-ui-call"></i>99999-99999</a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <div class="try_out">
            <h3>Our Address:</h3>
            <ul>

              <li><a href="#"><i class="icofont-location-pin"></i>Marunouchi Nijubashi Building 2F Marunouchi 3-2-2,
                  Chiyoda-Ku Tokyo, 100-0005</a></li>

            </ul>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </div>

  <!-- last footer -->
  <div class="bottom_footer">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">
        <div class="col">
          <p>2022 © Neo Rx / All rights reserved.</p>
        </div>

      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </div>

  <!-- go top button -->

</footer>
