  <!-- footer page start -->
  <footer>
    <div class="top_footer" id="contact">
      <div class="container">
        <hr style="background-color:  #8056db;">
        <div class="row" style="padding-top: 20px;">
          <div class="col-lg-2 col-md-6 col-12">
            <div class="abt_side">
              <div class="logo"> <img src="../../assets/images/HomePage/logo.svg"
                  alt="image"></div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="links">
              <ul>
                <li><a routerLink="about">About us</a></li>
                <li><a routerLink="about-app">About the App</a></li>
                <li><a routerLink="sciencebehind">Science Behind the App</a></li>
                <li><a routerLink="#">User Manual</a></li>

              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-12">
            <div class="links">
              <ul>
                <li><a routerLink="why-neo-rx">Why Neo Rx</a></li>
                <li><a routerLink="helpcenter">Help Centre</a></li>
                <li><a routerLink="#">Term</a></li>
                <li><a routerLink="#">privacy policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-12">
            <div class="try_out">
              <h3>Our contacts:</h3>
              <ul>
                <li><a routerLink="#"><i class="icofont-ui-message"></i>
                    impute.co.jp</a></li>
                <li><a routerLink="#"><i class="icofont-ui-call"></i>99999-99999</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-12">
            <div class="try_out">
              <h3>Our Address:</h3>
              <ul>
                <li><a routerLink="#"><i class="icofont-location-pin"></i>Marunouchi
                    Nijubashi Building 2F Marunouchi 3-2-2,
                    Chiyoda-Ku Tokyo, 100-0005</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-md-12 col-12">
            <div class="abt_side">
              <ul class="social_media">
                <li><a routerLink="#"><i class="icofont-facebook"></i></a></li>
                <li><a routerLink="#"><i class="icofont-twitter"></i></a></li>
                <li><a routerLink="#"><i class="icofont-instagram"></i></a></li>
                <li><a routerLink="#"><i class="icofont-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
       <div class="bottom_footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>2022 © Neo Rx / All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- go top button -->
    <div class="go_top">
      <span><img src="../../assets/images/go_top.png" alt="image"></span>
    </div>
  </footer>
  <!-- footer End -->
