<section class="powerful-tools-area">
  <div class="powerful-shape shape-1"></div>
  <div class="powerful-shape shape-2">
    <img src="assets/images/shape/shape-5.png" alt="">
  </div>

  <div class="container">
    <div class="powerful-tools-wrapper">
      <div class="row">
        <div class="col-lg-6">
          <div class="powerful-image mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="image">
              <img src="../../assets/images/ScienceBehind/scienc1.svg" alt=""
                style="width: 100%; height: auto; display: flex;">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="powerful-tools-content mt-50">
            <div class="section-title">

              <h2 class="title"> <span style="background-color: #F6DAFF; color: #5956E9;;"> Science</span> behind the
                App</h2>
              <p class="sub-title"><b>The focus is on four main skill domains: social, behavioral, verbal and academic.</b></p>
              <p class="sub-title"> There are several levels and sub-levels within each skill domain. Each user will be
                asked questions, beginning with the preliminary level of each level. Based on the data analysis of the
                user’s answers to the assessment questions, the application will decide the level in which the user
                begins instruction. The application keeps precise records of the data based on the child’s responses
                throughout the assessment and instruction.</p>
              <p class="sub-title">There are several levels and sub-levels within each skill domain. Each user will be
                asked questions, beginning with the preliminary level of each level. Based on the data analysis of the
                user’s answers to the assessment questions, the application will decide the level in which the user
                begins instruction.</p>
              <p class="sub-title"> The app not only aims to teach children to acquire novel skills, but to use these
                skills in a natural environment. As the user progresses through the application, they will be presented
                with questions to determine whether or not they have mastered and maintained skills that that they had
                acquired. The main principles of behavior used in this application are positive reinforcement and
                motivating operations..</p>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Features of Neo Rx -->

<!-- About-App-Section-Start -->
<!-- <section class="row_am about_app_section1 about_page_sectino1">
  <div class="container">
    <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
      <h2> <span style="background-color: #F6DAFF; color: #5956E9;;"> Features</span> of Neo Rx</h2>
      <p style="padding: 1%;"> The application offers visual schedules, a tracker and a token economy to track behaviors and <br> instruction progress. It uses eye-tracking and movement-tracking to teach visual tracking and <br> motor imitation and to demonstrate actions and social skills.<br>
        The ABA principles used in the application include generality, effective technology, applied <br> conceptually, and a systematic, analytic and behavioral approach.</p>
    </div>
    <div class="row ">
      <div class="about_text1">
        <ul class="app_statstic1" data-aos="fade-in" data-aos-duration="1500">
          <li class="col-lg-5 col-md-12 col-sm-10">
            <div class="text">
              <p><span style="text-transform: uppercase;"><img src="../../assets/images/ScienceBehind/righticon.svg"
                    alt=""> Assessment and instruction</span></p>
              <p style="padding-top: 2%;">based on Verbal Behavior Milestones Assessment and Placement Program (VB-MAPP)
              </p>
            </div>
          </li>
          <li class="col-lg-5 col-md-12 col-sm-10">
            <div class="text">
              <p><span style="text-transform: uppercase;"><img src="../../assets/images/ScienceBehind/righticon.svg"
                    alt=""> Discrete trial training</span></p>
              <p style="padding-top: 2%;">Free assessment for the child based on VBMAPP to create personalized learning
                module </p>

            </div>
          </li>
          <li class="col-lg-5  col-md-12 col-sm-10">
            <div class="text">
              <p><span style="text-transform: uppercase;"><img src="../../assets/images/ScienceBehind/righticon.svg"
                    alt=""> Token economy</span></p>
              <p style="padding-top: 2%;">a system for delivering positive reinforcement to children for engaging in
                desired behaviors or for completing tasks </p>
            </div>
          </li>
          <li class="col-lg-5  col-md-12 col-sm-10">
            <div class="text">
              <p><span style="text-transform: uppercase;"><img src="../../assets/images/ScienceBehind/righticon.svg"
                    alt=""> Differential reinforcement</span></p>
              <p style="padding-top: 2%;">Through this, children receive reinforcers, such as social attention, praise,
                edibles and tokens when they engage in desirable behavior. </p>

            </div>
          </li>
          <li class="col-lg-5  col-md-12 col-sm-10">
            <div class="text">
              <p><span style="text-transform: uppercase;"><img src="../../assets/images/ScienceBehind/righticon.svg"
                    alt=""> Response prompt</span></p>
              <p style="padding-top: 2%;">any form of physical, verbal or visual guidance to increase correction
                response, which includes modeling and instruction</p>

            </div>
          </li>
          <li class="col-lg-5  col-md-12 col-sm-10">
            <div class="text">
              <p><span style="text-transform: uppercase;"><img src="../../assets/images/ScienceBehind/righticon.svg"
                    alt=""> Stimulus prompt</span></p>
              <p style="padding-top: 2%;">an antecedent, such as a question, a presentation of an image, or a written
                direction that cues a child in order to better increase the probability of emitting the target response.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section> -->










<!-- =========main_section_featur====== -->
<section class="main_section_featur" >
  <div class="col-lg-12 col-sm-12 col-md-12 row no-gutters text-center  " style="margin: auto;">
    <h1 style="margin: auto; padding-bottom: 40px;"> <span style="background-color: #FFEAD2; color:  #5956E9;"> Features </span>of Neo Rx</h1>
    <p class="col-lg-12 col-sm-6 col-md-12 text-center">The application offers visual schedules, a tracker and a token economy to track behaviors and <br> instruction progress. It uses eye-tracking and  movement-tracking to teach visual tracking and <br> motor imitation and to demonstrate actions and social skills. <br>
      The ABA principles used in the application include generality, effective technology, applied <br> conceptually, and a systematic, analytic and behavioral approach.</p>
  </div>
<div class="container">
    <div class="row ">
      <div class="col-xs-12 col-sm-6  ">
        <div class="box p-4 m-3"  style="background-color: white; color: black;">
        <p><img src="../../assets/images/ScienceBehind/righticon.svg" alt=""> <b>Assessment and instruction</b> <br>based on Verbal Behavior Milestones Assessment and Placement Program (VB-MAPP)
        </div>
      </div>
       <div class="col-xs-12 col-sm-6">
          <div class="box p-3 m-3"  style="background-color: white; color: black;">
           <p><img src="../../assets/images/ScienceBehind/righticon.svg" alt=""> <b>Discrete trial training</b> <br> a structured ABA technique that breaks down skills into small, easily taught components backed by positive reinforcement for desired behavior
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12 col-sm-6  ">
          <div class="box p-4 m-3"  style="background-color: white; color: black;">
          <p><img src="../../assets/images/ScienceBehind/righticon.svg" alt=""> <b>Token economy</b> <br> a system for delivering positive reinforcement to children for engaging in desired behaviors or for completing tasks
          </div>
        </div>
         <div class="col-xs-12 col-sm-6">
            <div class="box p-3 m-3"  style="background-color: white; color: black;">
             <p><img src="../../assets/images/ScienceBehind/righticon.svg" alt=""> <b>Differential reinforcement</b> <br>Through this, children receive reinforcers, such as social attention, praise, edibles and tokens when they engage in desirable behavior.
            </div>
          </div>
        </div>
    <div class="row ">
      <div class="col-xs-12 col-sm-6">
        <div class="box p-4 m-3"  style="background-color: white; color: black;">
         <p><img src="../../assets/images/ScienceBehind/righticon.svg" alt=""> <b>Response prompt</b> <br> any form of physical, verbal or visual guidance to increase correction response, which includes modeling and instruction
        </div>
      </div>
      <div class="col-xs-12 col-sm-6  ">
        <div class="box p-3 m-3"  style="background-color: white; color: black;">
        <p><img src="../../assets/images/ScienceBehind/righticon.svg" alt=""> <b>Stimulus prompt</b> <br>an antecedent, such as a question, a presentation of an image, or a written direction that cues a child in order to better increase the probability of emitting the target response.
        </div>
      </div>
      </div>
   </div>
</section>
<!-- =========main_section_feature End====== -->
<!-- About-App-Section-end -->




<div class="col-lg-12 col-sm-12 col-md-12 row no-gutters text-center pt-5 ">
  <h1 style=" margin: auto; background-color:#F6DAFF; color: #5956E9;"> Understanding Autism</h1>
</div>

<section class="discover-area">
  <!-- <div class="discover-shape shape-1">
    <img src="assets/images/shape/dots-2.png" alt="">
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="discover-content-wrapper">
          <div class="section-title">

            <h2 class="title">What is Autism?</h2>
          </div>

          <div class="discover-content">
            <p>Autism, also known as autism spectrum disorder (ASD), refers to a wide range of symptoms, including
              challenges related to social skills, repetitive behavior, speech and nonverbal communication. The ways in
              which people with autism learn, think and solve problems ranges from highly effective to entirely
              ineffective. <br> <br>

              Indications of autism usually appear by age 2 or 3 for those on the autism spectrum disorder. Some related
              development delays can appear earlier and are diagnosed as early as 18 months. Research shows that early
              intervention can greatly improve the chances for positive outcomes later in life for people with autism..
            </p>
            <!-- <a href="#" class="main-btn main-btn-2">Learn More</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="discover-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
    <div class="image">
      <img src="../../assets/images/ScienceBehind/science2.svg" alt="">
    </div>
  </div>
</section>




<div class="row no-gutters text-center p-4">
  <h1 class="col-12 col-sm-6 col-md-8 " style="margin: auto; font-weight: bold; margin-top: 13%;"> GOLD-STANDARD
    TREATMENT FOR AUTISM</h1>
</div>

<div class="col-lg-8 card text-center p-3 mb-4 " style="margin: auto; background-color: #DFE8FF ; border-radius: 20px;">

  <div class="card-body">
    <p class="card-text"><b>Applied Behavior Analysis </b>(ABA) is a type of therapeutic intervention for people with
      psychological conditions, which helps improve social, communication and learning skills through reinforcement
      strategies. ABA therapy is an evidence-based method that is based on the fact that we all learn through the
      consequences of behavior..</p>

  </div>

</div>





<!--====== Everything Start ======-->

<section id="everything" class="everything-area">

  <!-- <div class="everything-shape shape-2"></div> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="everything-image mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="image">
            <img src="../../assets/images/ScienceBehind/science3.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="everything-content-wrapper mt-50">
          <div class="section-title">
            <p class="sub-title"> ABA specialists use principles from operant conditioning (the science of learning), which establishes rewards for producing desired behaviors or consequences, based on one’s efforts at mastering new tasks or skills.</p>
            <p class="sub-title " style="background-color: #FFEAD2;;padding: 10px; margin-left: -12%; margin-right: -12%; padding-left: 12%;
                      padding-right: 12%;"><b>In other words, if you want your child to learn how to behave in a certain
              way (such as sitting still) and you reward them when they do so (such as with a treat), then those
              behaviors will be more likely to become habits over time</b> </p>
            <p class="sub-title"> ABA therapy also helps children through prompts and by enabling them to choose the
              correct answers to questions, or to demonstrate the right behavior and reward them through praise and
              edibles. This will encourage them to repeat that behavior in the future. These are the little steps that
              are used to help children to learn the right skills and to constantly improve themselves.</p>
            <!-- <h2 class="title">Everything you need to grow your app</h2> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<!--====== Everything Ends ======-->
