<!-- Blog-Detail-Section-Start -->
<section class="row_am blog_list_main" style="margin-bottom: -6%;">
  <!-- container start -->
  <div class="container">
    <!-- row start -->
    <div class="row">
      <div class="col-lg-6" data-aos="fade-in" data-aos-duration="1500">
        <div class="blog_img">
          <img src="../../../../assets/images/2nd-img.svg" alt="image" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blog_text">
          <div class="section_title">
            <h2>
              We are constantly working to
              <span style="background-color: #f6daff">
                make the world better
              </span>
              for children with autism!
            </h2>
            <p>
              Every child undergoes a unique process of cognitive development.
              Some are quick learners, while some take more time to progress.
              However, children who are diagnosed with Autism Spectrum Disorder
              (ASD) often face a multitude of difficulties, which may negatively
              affect their learning and their behavioral skills. <br />
              <br />
              <br />

              Impute has developed a digital therapy solution to address your
              child’s learning needs and to help in their overall development.
              <br />
              <br />
              <br />

              We believe that our digital therapy app, Neo Rx, will be very
              effective in helping children and parents cope with autism and
              learning disabilities. Our therapeutic system is designed to
              assess children’s needs, and to then provide them with the best
              possible personalized therapy.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
  <!-- container end -->
</section>
<!-- Blog-Detail-Section-end -->

<!-- Query Section Start -->


<!--
<section class="about-section-2">
  <div class="container text-center bg-our-mission-about">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h2 class="about-head-our-mission">Our Mission</h2>
        <p class="about-head-our-mission-details">
          “Transform the quality of life of children who have ASD to improve
          their physical and mental health with various digital behavioral
          approaches that are clinically designed by our team of autism
          experts. The learning-through-play method (digitalizing ABA
          therapy) will make parenting easier.”
        </p>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section> -->

<section style="margin-bottom: 4%;">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img class="img-fluid aboutourmission" src="../../assets/images/mission.png" alt="">
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-6 text-center">
        <div class="ourmissioncontent">
          <h2 class="about-head-our-mission">Our Mission</h2>
          <p class="about-head-our-mission-details">
            “Transform the quality of life of children who have ASD to improve
            their physical <br> and mental health with various digital behavioral
            approaches that are clinically <br> designed by our team of autism
            experts. The learning-through-play method <br> (digitalizing ABA
            therapy) will make parenting easier.”
          </p>
        </div>
      </div>
      <div class="col-lg-2"></div>


    </div>
  </div>

</section>



<!-- Testimonial-Section start -->


<!-- Testimonial-Section start -->
<section class="row_am testimonial_section">
  <!-- container start -->
  <div class="container">
    <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
      <!-- h2 -->
      <h2 style="text-align: left;">
        What <span style="background-color: #f6daff"> our users say </span>
      </h2>
      <!-- p -->
    </div>
    <div class="testimonial_block" data-aos="fade-in" data-aos-duration="1500">
      <owl-carousel-o [options]="customOptions">
        <ng-container>
          <ng-template carouselSlide [id]="'user1'">
            <div class="container carousel-content ">
              <div class="row">

                <div class="col-md-12 selfcenter">
                  <div class="">

                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-2 testimonial_profile_center">
                        <div class="testimonial_profile_center">

                          <img class="img-fluid testimonial_profile"
                            src="../../assets/images/about/testimonial_user.svg" alt="image">

                        </div>
                      </div>
                      <div class="col-md-6 content_testimonial">
                        <h3 class="headtesti">John Garrett </h3>
                        <p class="titleheadtesti">30.01.2023</p>
                        <p class=" paratesti ">
                          “ My son, Drake, has been using the Neo Rx app for therapy and really enjoys it. He's a little
                          older, so he wants to concentrate on the more challenging aspects of the app, like puzzles.
                          Many thanks to Impute for working on this! Keep up the hard work and we look forward to
                          further iterations of this technology! Best regards, John Garrett ”
                        </p>
                        <div class="rating">
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                        </div>
                      </div>

                    </div>


                  </div>
                </div>


              </div>
            </div>


          </ng-template>
          <ng-template carouselSlide [id]="'user1'">
            <div class="container carousel-content ">
              <div class="row">

                <div class="col-md-12 selfcenter">
                  <div class="">

                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-2 testimonial_profile_center">
                        <div class="testimonial_profile_center">

                          <img class="img-fluid testimonial_profile"
                            src="../../assets/images/about/testimonial_user.svg" alt="image">

                        </div>
                      </div>
                      <div class="col-md-6 content_testimonial">
                        <h3 class="headtesti">John Garrett </h3>
                        <p class="titleheadtesti">30.01.2023</p>
                        <p class=" paratesti ">
                          “ My son, Drake, has been using the Neo Rx app for therapy and really enjoys it. He's a little
                          older, so he wants to concentrate on the more challenging aspects of the app, like puzzles.
                          Many thanks to Impute for working on this! Keep up the hard work and we look forward to
                          further iterations of this technology! Best regards, John Garrett ”
                        </p>
                        <div class="rating">
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                        </div>
                      </div>

                    </div>


                  </div>
                </div>


              </div>
            </div>


          </ng-template>
          <ng-template carouselSlide [id]="'user1'">
            <div class="container carousel-content ">
              <div class="row">

                <div class="col-md-12 selfcenter">
                  <div class="">

                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-2 testimonial_profile_center">
                        <div class="testimonial_profile_center">

                          <img class="img-fluid testimonial_profile"
                            src="../../assets/images/about/testimonial_user.svg" alt="image">

                        </div>
                      </div>
                      <div class="col-md-6 content_testimonial">
                        <h3 class="headtesti">John Garrett </h3>
                        <p class="titleheadtesti">30.01.2023</p>
                        <p class=" paratesti ">
                          “ My son, Drake, has been using the Neo Rx app for therapy and really enjoys it. He's a little
                          older, so he wants to concentrate on the more challenging aspects of the app, like puzzles.
                          Many thanks to Impute for working on this! Keep up the hard work and we look forward to
                          further iterations of this technology! Best regards, John Garrett ”
                        </p>
                        <div class="rating">
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                          <span><i class="icofont-star"></i></span>
                        </div>
                      </div>

                    </div>


                  </div>
                </div>


              </div>
            </div>


          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <!-- container end -->
</section>
<!-- Testimonial-Section end -->
<!-- Testimonial-Section end -->




<!-- How-It-Workes-Section-Start -->



<section class="about-section1">

  <div class="col-md-6"></div>
  <div class="container">
    <div class="row about-section1-row">
      <div class="col-md-6">
        <h2 class="about-section1-head mt-3 ml-2">Clinical Trials</h2>
        <p class="about-section1-para mt-3 ml-2">Our progress and upcoming plans</p>
        <table>
          <tr>
            <td class="about-sec1-detail-width ">01. 2022</td>
            <!-- <td><span class="dot"></span><div class="vl"></div></td> -->
            <td class="about-sec1-detail-border">
              <span class="dot"></span>
              <div class="step_text">
                <span class="about-sect1-title">FEASIBILITY STUDY (RCT) - JAPAN</span>
                <p class="about-sect1-title-para">
                  A 14-day trial with 10 children in NCCHD Japan to test
                  children’s adherence towards app mechanisms performed
                  successfully.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="about-sec1-detail-width">01. 2023</td>
            <!-- <td><span class="dot"></span><div class="vl"></div></td> -->
            <td class="about-sec1-detail-border">
              <span class="dot"></span>
              <div class="step_text">
                <span class="about-sect1-title">Pilot STUDY (RCT) - INDIA</span>
                <p class="about-sect1-title-para">
                  A 6-month trial with 120 children. Expected result of improved ADOS scores at AAIMS India
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="about-sec1-detail-width">06. 2023</td>
            <!-- <td><span class="dot"></span><div class="vl"></div></td> -->
            <td class="about-sec1-detail-border">
              <span class="dot"></span>
              <div class="step_text">
                <span class="about-sect1-title">Pilot STUDY (RCT) - JAPAN</span>
                <p class="about-sect1-title-para">
                  A 6-month trial with 120 children. Expected result of improved ADOS scores at NCCHD Japan
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="about-sec1-detail-width">03. 2024</td>
            <!-- <td><span class="dot"></span><div class="vl"></div></td> -->
            <td class="about-sec1-detail-border">
              <span class="dot"></span>
              <div class="step_text">
                <span class="about-sect1-title">SAND APPLICATION</span>
                <p class="about-sect1-title-para">
                  Final application to PMDA fpr approval of software as a medical device. Approval time 8-12 months.
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="about-sec1-detail-width">03. 2025</td>
            <!-- <td><span class="dot"></span><div class="vl"></div></td> -->
            <td class="about-sec1-detail-border">
              <span class="dot"></span>
              <div class="step_text">
                <span class="about-sect1-title">INSURANCE APPLICATION</span>
                <p class="about-sect1-title-para">
                  Application for inclusion in Insurance
                </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 about-section1-bg ">
        <!-- <img
          class="img-fluid"
          src="../../../../assets/images/Clinicaltrials.svg"
          alt="image"
        /> -->
      </div>
    </div>
  </div>

</section>

<!-- How-It-Workes-Section-end -->
