/* Blog List Css Start */
.blog_list_story {
    margin-bottom: 50px;
  }

  .blog_list_main {
    position: relative;
    padding-bottom: 200px;
  }

  .blog_list_main > .container > .row {
    align-items: center;
  }

  .blog_list_main .blog_img {
    position: relative;
  }

  .blog_list_main .blog_img img {
    max-width: 100%;
    border-radius: 12px;
  }

  .blog_list_main .blog_img span {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 14px;
    color: var(--text-white);
  }

  .blog_list_main .blog_text .section_title {
    text-align: left;
  }

  .blog_list_main .blog_text .choice_badge {
    font-size: 12px;
    background-color: #f8d979;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 4px;
    color: var(--dark-purple);
    font-weight: 700;
    margin-bottom: 10px;
  }

  .blog_list_main .blog_text a {
    color: var(--purple);
    margin-top: 25px;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .blog_list_main .blog_text a:hover {
    text-decoration: underline;
  }

  .blog_list_story.row_am {
    padding-top: 30px;
  }

  .blog_list_story .story_box {
    margin-bottom: 40px;
    text-align: left;
  }

  /* Blog List Css ENd */











  /* our mission css end */




  /* ------------Testimonial-Slider-Css-Start------------- */
/* testimonials wraper  */
.testimonial_section {
    height: 700px;
    background-image: url(../images/about/Rectangle53.svg);
    background-size: cover;
    background-position: center;
  }

  #testimonial_slider {
    max-width: 550px;
    margin: 0 auto;
  }

  .testimonial_section .testimonial_block {
    background-image: url(../images/about/group105.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 550px;
    width: auto;
    /* margin-top: 65px;  */
  }

  .testimonial_section .testimonial_block .testimonial_slide_box {
    text-align: center;
    width: 430px;
    padding: 10px;
    margin: 0 auto;
  }

  /* testimonials rating  */
  .testimonial_section .testimonial_block .rating span {
    color: #fc9400;
    font-size: 18px;
  }

  .testimonial_section .testimonial_block .testimonial_slide_box .review {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  /* testimonials image  */
  .testimonial_section
    .testimonial_block
    .testimonial_slide_box
    .testimonial_img
    img {
    /* margin: 0 auto; */


  }

  /* testimonials heading h3 */
  .testimonial_section .testimonial_block .testimonial_slide_box h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 10px;
    display: flex;
  }

  .testimonial_section .testimonial_block .testimonial_slide_box .designation {
    font-size: 15px;
  }

  /* testimonials total review */
  .testimonial_section .total_review {
    text-align: center;
    margin-top: 60px;
  }

  .testimonial_section .total_review .rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* testimonials paragraph */
  .testimonial_section .total_review .rating p {
    margin-bottom: 0;
    font-weight: 600;
    margin-left: 5px;
    color: var(--dark-purple);
  }

  /* testimonials heading */
  .testimonial_section .total_review h3 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--dark-purple);
  }

  .testimonial_section .total_review a {
    color: var(--purple);
    font-weight: 700;
  }

  .testimonial_section .testimonial_block .avtar_faces {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
  }

  .testimonial_section .testimonial_block .avtar_faces img {
    max-width: 100%;
  }


    /* ------------Testimonial-Slider-Css-End-------------


    /* new  ABout csss start */

    /* .about-section1-row {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(158.12deg, #7a21bd 13.4%, #5956e9 65.2%, #7976fc 85.65%);
      border-radius: 10px;
    } */
    /* .about-section1 {
      margin-top: 20%;
    } */
    /* .about-section1-head {
      color: white;
    } */
    /* .about-section1-para {
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
    } */
    /* .about-section1-detail {
      border-left: 2px solid white;
      color: white;
    } */

    /* .about-sec1-detail-width {
      width: 14%;
      vertical-align: top;
      padding-top: 4px;
    } */

    /* table {
      color: white;
    } */

    /* td,
    th { */
      /* border-left: 1px solid #dddddd; */
      /* text-align: left;

      }

      tr:nth-child(even) {
        /* background-color: #dddddd; */
      /* color: white;
    }
    .vl {
      border-left: 2px solid rgb(255, 255, 255);
      height: 90px;
    }
    .dot {
      height: 20px;
      width: 20px;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      display: inline-block;
      margin-left: -22px;
    } */

    /* .about-sec1-detail-border {
      text-align: -webkit-auto;
     vertical-align: top;
      padding: 10px;
      border-left: 4px solid;
    }

    .about-section1-bg {
      background-image: url("../images/about/Clinicaltrials.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
      border-radius: 10px;
    } */

    /* .about-sect1-title-para {
      font-size: 14px;
      font-weight: 400;
    }

    .about-sect1-title {
      font-weight: 400;
    }

    .step_text{
        margin-top: -37px;
        margin-left: 6px;
    } */





    /* our mission section  */

    /* .about-section-2 {
        margin-top: 5%;
        margin-bottom: 5%;
        color: #28085b;
      }
      .about-head-our-mission {
        margin-top: 9%;
        color: #28085b;
        font-weight: 700;
    font-size: 40px;
      }
      .about-head-our-mission-details {
        margin-bottom: 18%;
        color: #28085b;
        font-style: normal;
    font-weight: 400; */
    /* font-size: 24px; */
      /* } */
      /* .bg-our-mission-about {
        background-image: url("../images/about/mission.png") ;
        background-size: cover; */
        /* background-position: left; */
      /* } */

      /* .query_section1{
        background-image: url("../images/about/mission.png") ;
        background-size: cover;
      } */

      /* @media only screen and (max-width: 600px) {
        .about-head-our-mission {
          margin-top: 9%;
          font-size: 15px;
          color: #28085b;
        }
        .about-head-our-mission-details {
          margin-bottom: 18%;
          font-size: 10px;
          color: #28085b;
        }
      } */
