<section class="aboutapp-section1 mt-5">
  <div class="container aboutapp-sec1-con1">
    <div class="row aboutapp-sec1-row1">
      <div class="col-md-12 text-center aboutapp-sec1-col1">
        <h3 class="aboutapp-sec1-col2-head1">
          Our solution: <span class="aboutapp-sec1-col1-span1">Neo Rx</span>
        </h3>
        <div class="container aboutapp-sec1-con1-para1">
          <p class="aboutapp-sec1-col1-para1">
            Neo Rx is a digital application, intended to be a non-drug
            prescription approach for autism spectrum disorder (ASD), based on
            ABA therapy.
          </p>
        </div>
      </div>
      <div class="col-lg-6 aboutapp-sec1-col3">
        <h3 class="aboutapp-sec1-col3-head">
          Digital Therapeutics (DTx) and Autism Therapy
        </h3>
        <p class="aboutapp-sec1-col3-para">
          Our digital therapy app involves a machine learning (ML) mechanism by
          which children can constantly learn and improve without intervention
          by human therapists. It provides personalized programs to fit the
          needs of each child, and AI instruction progresses according to the
          child’s progress. We use deep data mining to collect progress data for
          each child and display it in a way that is easily understood by
          parents.
        </p>
        <p class="aboutapp-sec1-col3-para">
          The Neo Rx app uses face tracking, eye tracking and body movements to
          obtain behavior-related information from each child, and it uses it to
          reinforce learning
          <span class="aboutapp-sec1-col3-span"
            >through visual tracking, motor imitation, actions and visual
            skills.</span
          >
          Furthermore, our app will address the high cost of autism treatment
          and the severe shortage of trained therapists. Our objective is to
          deliver highly effective therapy at a fraction of the cost of
          traditional therapy,
          <span class="aboutapp-sec1-col3-span"> anytime, anywhere.</span>
        </p>
        <p class="aboutapp-sec1-col3-para">
          We believe in empowering every child by understanding individual needs
          and by creating a
          <span class="aboutapp-sec1-col3-span">personalized</span> program to
          help them maximize their independence in daily life, in their own
          unique way.
        </p>
      </div>
      <div class="col-lg-6 aboutapp-sec1-col3">
        <img
          class="img-fluid aboutapp-sec1-col1-img1"
          src="../../../../assets/images/aboutappfirstimg.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="aboutapp-section2 mt-5">
  <div class="container">
    <div class="row aboutapp-sec2-row2">
      <div class="col-md-12 text-center aboutapp-sec1-col1">
        <h3 class="aboutapp-sec2-col2-head1">How does Neo Rx work?</h3>
      </div>
      <div class="col-md-12">
        <img
          class="img-fluid"
          src="../../../../assets/images/howdoesgroup.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section class="aboutapp-section3">
  <div class="col-md-12 text-center mt-5">
    <h3 class="aboutapp-sec3-col2-head2">Autism Diagnosis</h3>
    <div class="container aboutapp-sec3-para">
      <p class="aboutapp-sec3-para1">
        The Autism Diagnostic Observation Schedule (ADOS-2) is a standardized
        assessment of communication, social interaction, play and behaviors in
        children. You can consult your clinician for a detailed diagnosis.
      </p>
    </div>
  </div>
  <img
    class="img-fluid aboutapp-sec3-img"
    src="../../../../assets/images/abappel.svg"
    alt=""
  />
</section>

<section class="aboutapp-section4">
  <div class="col-md-12 text-center">
    <h3 class="aboutapp-sec4-col2-head2">Onboarding and Usage</h3>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-1"></div>
      <div class="col-md-10 reglogmob-viewsec4">
        <img
          class="img-fluid boutapp-sec4-con1"
          src="../../../../assets/images/onbourdingbg.svg"
          alt=""
        />
        <div class="row">
          <div class="col-lg-1 allitemcontentsec4">
            <h1 class="text-center one">1</h1>
          </div>
          <div class="col-lg-6 allitemcontentsec4">
            <h5 class="aboutapp-sec4-col2-head3">REGISTRATION AND LOGIN</h5>
            <p class="aboutapp-sec4-para1">
              The child or the parent/guardian will register basic information.
              A username and password will be created for each user to manage
              their account and to provide personalized learning instructions.
            </p>
          </div>
          <div class="col-lg-5 allitemcontentsec4">
            <img
              class="img-fluid "
              src="../../../../assets/images/bourdingimg.svg"
              alt=""
            />
          </div>
        </div>

        <div class="container aboutapp-sec4-img"></div>
      </div>
    </div>
  </div>
</section>

<section class="aboutapp-section5">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-10 reglogmob-viewsec5">
        <img
          class="img-fluid boutapp-sec5-con1"
          src="../../../../assets/images/onbourdingbg.svg"
          alt=""
        />
        <div class="row">
          <div class="col-lg-1 allitemcontentsec5">
            <h1 class="text-center one">2</h1>
          </div>
          <div class="col-lg-6 allitemcontentsec5">
            <h5 class="aboutapp-sec5-col2-head3">PARENT FEEDBACK FORM</h5>
            <p class="aboutapp-sec5-para1">
              The parent will first fill out a questionnaire and a parent
              feedback form, on which they will answer all questions related to
              their child. This will help in creating a personalized assessment
              for the child and it will assist in maximizing the learning
              experience.
            </p>
          </div>
          <div class="col-lg-5 allitemcontentsec5">
            <img
              class="img-fluid imgsec5"
              src="../../../../assets/images/parentfeedback.svg"
              alt=""
            />
          </div>
        </div>

        <div class="container aboutapp-sec5-img"></div>
      </div>
    </div>
  </div>
</section>

<section class="aboutapp-section6">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-1"></div>
      <div class="col-md-10 reglogmob-viewsec6">
        <img
          class="img-fluid boutapp-sec6-con1"
          src="../../../../assets/images/assementbg.svg"
          alt=""
        />
        <div class="row">
          <div class="col-lg-1 allitemcontentsec5">
            <h1 class="text-center one">3</h1>
          </div>
          <div class="col-lg-6 allitemcontentsec5">
            <h5 class="aboutapp-sec6-col2-head3">ASSESSMENT</h5>
            <p class="aboutapp-sec6-para1">
              The child will complete an assessment based on VB-MAPP, in the
              presence of a parent/guardian. There will be questions from each
              skill domain, such as conditional reinforcement for
              stimuli/matching, listener responding, echoic and tact, which will
              determine the individualized placement of the child based on their
              current skill set.
            </p>
          </div>
          <div class="col-lg-5 allitemcontentsec6">
            <img
              class="img-fluid imgsec6"
              src="../../../../assets/images/dragthetrain.svg"
              alt=""
            />
          </div>
        </div>

        <div class="container aboutapp-sec6-img"></div>
      </div>
    </div>
  </div>
</section>

<section class="aboutapp-section7">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-10 reglogmob-viewsec7">
        <img
          class="img-fluid boutapp-sec7-con1"
          src="../../../../assets/images/onbourdingbg.svg"
          alt=""
        />
        <div class="row">
          <div class="col-lg-1 allitemcontentsec7">
            <h1 class="text-center one">4</h1>
          </div>
          <div class="col-lg-6   allitemcontentsec7">
            <h5 class="aboutapp-sec7-col2-head3">LEARNING</h5>
            <p class="aboutapp-sec7-para1">
              Based on the child’s assessment score, we will create a customized
              learning session every day of 60-90 minutes, designed according to
              ABA therapy principles. It will cover social, verbal, behavioral
              and academic domains.,<br />
              There will be an avatar chosen by the child to guide him or her
              through the entire journey, with voice-overs and videos. The app
              uses positive reinforcement based on responses through fun games,
              videos, social attention, praise, edibles and tokens. There are
              short quizzes after every bucket.
            </p>
          </div>
          <div class="col-lg-5 allitemcontentsec7">
            <img
              class="img-fluid imgsec7"
              src="../../../../assets/images/whenmoon.svg"
              alt=""
            />
          </div>
        </div>

        <div class="container aboutapp-sec7-img"></div>
      </div>
    </div>
  </div>
</section>

<section class="aboutapp-section8">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-1"></div>

      <div class="col-md-10 reglogmob-viewsec8">
        <img
          class="img-fluid boutapp-sec8-con1"
          src="../../../../assets/images/onbourdingbg.svg"
          alt=""
        />
        <div class="row">
          <div class="col-lg-1 allitemcontentsec8">
            <h1 class="text-center one">5</h1>
          </div>
          <div class="col-lg-6 allitemcontentsec8">
            <h5 class="aboutapp-sec8-col2-head3">PROGRESS REPORT</h5>
            <p class="aboutapp-sec8-para1">
              The app uses multiple data points, such as a learning score,
              responsiveness, etc. to provide an AI generated personalized
              report. The report comprises the learning report and the quiz
              score from each skill domain, along with the time taken to
              complete the report.
            </p>
          </div>
          <div class="col-lg-5 allitemcontentsec8">
            <img
              class="img-fluid imgsec8"
              src="../../../../assets/images/learning.svg"
              alt=""
            />
          </div>
        </div>

        <div class="container aboutapp-sec8-img"></div>
      </div>
    </div>
  </div>
</section>

<section class="aboutapp-section9 mt-5">
  <div class="container">
    <div class="row sec9-col-bg">
      <div class="col-md-6 sec9-col-bg-img">
        <img
          class="img-fluid"
          style="width: 100%"
          src="../../../../assets/images/followupimg.svg"
          alt=""
        />
      </div>
      <div class="col-md-6 sec9content">
        <h5>Follow Up</h5>
        <p>
          There will be a post-assessment presented to the user by a
          clinician/physician after 3 to 6 months to determine the efficacy of
          the application for the user.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="aboutapp-section10 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 sec10-content">
        <img
          class="img-fluid"
          src="../../../../assets/images/free-icon-device.svg"
          alt=""
        />
      </div>
      <div class="col-md-4 text-center">
        <h4 class="aboutapp-sec10-col2-head">Compatible Devices</h4>
        <p  class="aboutapp-sec10-para">This app is compatible with the minimum requirement of iOS version 12.0 and Android version SDK 19 KitKat.</p>
      </div>
      <div class="col-md-4 sec10-content">
        <img
          class="img-fluid"
          src="../../../../assets/images/free-icon-tablet.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>




<!-- why we section end -->
<section class="row_am why_we_section" data-aos="fade-in">
  <div class="why_inner">
    <div class="container">
      <div
        class="section_title"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-delay="100"
      >
        <h2>Why should you choose Neo Rx?</h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div
            class="why_box"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="100"
          >
            <div class="icon">
              <img src="../../../../assets/images/icon1.svg" alt="image" />
            </div>
            <div class="text">
              <h3>NO WAIT-LIST</h3>
              <p>Therapy can be accessed anytime, anywhere.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div
            class="why_box"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="200"
          >
            <div class="icon">
              <img src="../../../../assets/images/icon2.svg" alt="image" />
            </div>
            <div class="text">
              <h3>COST EFFECTIVE</h3>
              <p>
                Our solution is affordable, unlike other standard ABA therapy. Every family can access the ABA therapy that their child needs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div
            class="why_box"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="300"
          >
            <div class="icon">
              <img src="../../../../assets/images/icon3.svg" alt="image" />
            </div>
            <div class="text">
              <h3>HIGH EFFICACY</h3>
              <p>
                A patented product, which we believe will help in an improved ADOS scores
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div
            class="why_box"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="400"
          >
            <div class="icon">
              <img src="../../../../assets/images/icon4.svg" alt="image" />
            </div>
            <div class="text">
              <h3>INTERVENTION METHOD</h3>
              <p>
                60 – 90-minute sessions on the app every day
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div
            class="why_box"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="300"
          >
            <div class="icon">
              <img src="../../../../assets/images/icon5.svg" alt="image" />
            </div>
            <div class="text">
              <h3>INDIVIDUAL
                ASSESSMENT</h3>
              <p>
                Comprehensive skill-set assessment for each user in order to clearly determine their condition and to proceed effectively
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div
            class="why_box"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="300"
          >
            <div class="icon">
              <img src="../../../../assets/images/icon6.svg" alt="image" />
            </div>
            <div class="text">
              <h3>PERSONALIZED THERAPY PLAN</h3>
              <p>
                Custom therapy plans developed by AI according to the needs of each child as identified during the assessment and parent feedback
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div
            class="why_box"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="300"
          >
            <div class="icon">
              <img src="../../../../assets/images/icon7.svg" alt="image" />
            </div>
            <div class="text">
              <h3>REINFORCED LEARNING</h3>
              <p>
                Use of concepts based on reinforcement-based learning modules, integral to behavioral therapy
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div
            class="why_box"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="300"
          >
            <div class="icon">
              <img src="../../../../assets/images/icon8.svg" alt="image" />
            </div>
            <div class="text">
              <h3>INTERACTIVE THERAPY</h3>
              <p>
                Interactive therapy based on games and activities will create a space of comfort, fun and relaxation for children, with no dependency on others.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
