

    <!-- Query Section Start -->
    <section class="row_am query_section mt-5">
      <div class="query_inner" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
        <div class="container">
          <div class="section_title">
            <h2>Help Centre</h2>
            <p>Everything you need to know about Neo Rx.</p>
          </div>

        </div>
      </div>
    </section>
        <!-- Query Section End -->


    <!--====== FAQ's Start ======-->
    <section class="row_am faq_section mb-5">
      <div class="container">
        <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
          <h2  class="col-lg-7 "><span>Frequently</span>Asked Questions</h2>
        </div>
        <div class="p-2 faq_panel ">
          <div class="accordion" id="accordionExample">
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link active" data-toggle="collapse" data-target="#collapseOne">
                  	<i class="icon_faq icofont-plus"></i> What is Neo Rx?</button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <p>It is a digital therapeutic application for children with ASD..</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseTwo"><i class="icon_faq icofont-plus"></i> For what ages is NEO RX suitable?</button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseThree"><i class="icon_faq icofont-plus"></i>How much does the NEO RX app cost?
                    ?</button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseFour"><i class="icon_faq icofont-plus"></i>Is NEO RX available in languages other than English?
                    ?</button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseFive"><i class="icon_faq icofont-plus"></i>Is NEO RX a substitute to school for kids with ASD?
                    ?</button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseSix"><i class="icon_faq icofont-plus"></i>What is the right age to start ABA Therapy?
                    ?</button>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseSeven"><i class="icon_faq icofont-plus"></i>Can social/independent skills be taught through Neo Rx?
                    ?</button>
                </h2>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseEight"><i class="icon_faq icofont-plus"></i>What is the role of parents in teaching their child with Neo Rx?
                    ?</button>
                </h2>
              </div>
              <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseNine"><i class="icon_faq icofont-plus"></i>Is ABA only for young children?
                    </button>
                </h2>
              </div>
              <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseTen"><i class="icon_faq icofont-plus"></i>What is ABA?
                    ?</button>
                </h2>
              </div>
              <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseEleven"><i class="icon_faq icofont-plus"></i>What is a BCBA?
                    ?</button>
                </h2>
              </div>
              <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
            <div class="card" data-aos="fade-up" data-aos-duration="1500">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseTwelve"><i class="icon_faq icofont-plus"></i>What to do if my child keeps or leaves the session in between and does not complete it?
                    ?</button>
                </h2>
              </div>
              <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                <div class="card-body">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has. been the
                    industrys standard dummy text ever since the when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five cen turies but also the
                    leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ-Section end -->








  <!-- Potential Technical problems: start -->
      <section class="mainbox">
        <div class="container ">
          <h2 class="font-weight-bold p-5" >Potential Technical problems:</h2>
          <div class="row">
              <div class="col-lg-6 col-sm-12 col-md-6 ">
              <div class="box p-4">
                <img src="../../assets/images/HelpPage/helpicon1.svg" class="rounded float-left p-4" alt="">
                <p><span> I forgot my password? </span><br>
                  Click on “Forgot my password” at the bottom of the NEO Rx login page and enter your e-mail address. A
                  link will be sent to your email ID. You can click on the link and reset your password and log in.</p>
              </div>
            </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="box p-4">
                <img src="../../assets/images/HelpPage/helpicon2.svg" class="rounded float-left p-4" alt="">
                <p><span> How can I give feedback? </span><br>
                  You can give feedback and report your comments, suggestions and complaints about the app by using the
                  Feedback section on <b> www.neo-rx.com </b> or by sending an e-mail to <b> contactus@neo-rx.com. </b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="container" >
          <div class="row">
            <div class="col-xs-12 col-sm-8 " style="margin: auto;">
              <div class="box p-4">
                <img src="../../assets/images/HelpPage/helpicon3.svg" class="rounded float-left p-4" alt="">
                <p><span> The application was deleted?</span> <br>
                  If your app is deleted, you can download Neo Rx on the AppStore for your iOS devices and on Google
                  PlayStore for your Android devices. Once you have logged into your account with your membership
                  information, you can easily access past reports and statistics about your child’s performance. You can
                  resume the therapy session from where you left off..</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container" >
          <div class="row">
            <div class="col-xs-12 col-sm-9 mr-5" style="margin: auto; ">
              <div class="box p-5">
                <img src="../../assets/images/HelpPage/helpicon5.svg" class="rounded float-left p-4" alt="">
                <p><span> The application is stuck or frozen?</span> <br>
                  Please try to close and then reopen the application. If this doesn’t work, please uninstall and
                  reinstall the app, make sure there is an active internet connection to do so. If that doesn’t resolve
                  the issue, please contact us by email and provide us with the specifications of the device and the OS
                  version so that we can help you with the issue. <br>

                  If the problem is still not resolved after these steps, check to see if your application is up to
                  date. If it is not, please install the update. <br>

                  If you have tried all of the above but there is still no improvement, please contact us.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container mr-4 ">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="box p-4">
                <img src="../../assets/images/HelpPage/helpicon4.svg" class="rounded float-left p-2" alt="">
                <p><span> How do I know if the app is able to hear me during a verbal interaction question? </span><br>
                  <br>
                  There is a green microphone that will be visible on the screen. In case the microphone is not entirely
                  visible for consecutive verbal questions, kindly close the app and reopen it. Also, ensure that no
                  other app that uses a microphone is open simultaneously..</p>
              </div>
            </div>
          </div>
        </div>
  </section>
  <!-- Potential Technical problems: ENd -->



<!-- can t contact you start -->
  <section class="p-5">
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title" style="font-weight: bold;">Can I contact you?</h2>
                </div>
            </div>
        </div>
    </div>
<div class="card mb-3 " style="background-color:#EEECFF">
    <img src="../../assets/images/HelpPage/helpcontact.png" class="card-img-top" alt="...">
    <div class="card-body text-center ">
      <p class="card-text p-4">We are always here for you! Feel free to contact us anytime! <br> If you have any problem
        or you want to get in touch with us <br> for any other reason, don’t hesitate to email us at .</p>
      <h5 class="card-title"><b> support@Neo Rx.com.</b></h5>
    </div>
    <section>
      <div class="container p-5">
        <div class="row justify-content-center">
          <div class="col-lg-8 p-2"
            style=" background-color:white; border-left:20px solid #A8A0FD ; border-right:20px solid #A8A0FD ; border-radius: 20px;">
            <div class="section-title text-center">
              <p class="sub-title mt-4">Also, you can use the feedback feature in our app. <br>
                We will get back to you in the next 24 working hours. If you send us an email and <br> you do not see
                our reply within 24 hours, please check if our email has perhaps <br> landed in your Spam or Promotion
                folder. We can also guide you through the <br> product features personally. We can talk <b> on the phone
                  or over Skype/Hangouts.</b></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <h5 class="card-title text-center p-5">It’s always great to hear from you!</h5>
  </div>
</section>
<!-- can t contact you End -->



<!-- device section start -->
<section>
  <div class="container ">
    <h2 class="text-center p-4 mt-4 " style="font-weight: bold;">Which devices are compatible?</h2>
    <div class="row">
     <div class="col-xs-12 col-sm-6 p-5">
        <div class="box">
          <p><img class="p-2 rounded mx-auto d-block " src="../../assets/images/HelpPage/ios.svg" alt=""> <br>  <b>  For IOS: </b> Neo Rx app can be used
            <br> downloaded to Android
             <br>  on iPads and iPhones with <br>  versions of iOS 12 or higher.

        </div>
      </div>
        <div class="col-xs-12 col-sm-6 p-5">
        <div class="box">
          <p><img class="p-2 rounded mx-auto d-block" src="../../assets/images/HelpPage/andriod.svg" alt=""> <br> For Android: Neo Rx app
            can be <br> downloaded to Android
            devices <br> that have at least 4 GB RAM and <br> are Android 10.0 or higher.
        </div>
      </div>
    </div>
  </div>
</section>
<!-- device section End -->
