 <!-- Banner-Section-Start -->
 <section class="banner_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12" data-aos="fade-right"
        data-aos-duration="1500">
        <div class="banner_text">
          <h1>Learning with Neo Rx: </h1>
          <h2>A <span class="font-weight-bold"> Digital Therapeutics App
            </span></h2>
          <h1>for Autistic Children</h1>
          <p>We deliver evidence-based therapeutic intervention that is driven by a high quality, patented software program to treat a broad spectrum of learning and behavioral challenges faced by children.
          </p>
        </div>
        <ul class="app_btn">
          <li>
            <a href="#">
              <img class=" blue_img" src="../../assets/images/appstore_blue.svg"
                alt="image">
            </a>
          </li>
          <li>
            <a href="#">
              <img class="blue_img" src="../../assets/images/googleplay_blue.svg"
                alt="image">
            </a>
          </li>
        </ul>
        <!-- users -->
        <div class="used_app">
          <ul>
            <li><img style="cursor: pointer;" src="../../assets/images/used01.svg"
                alt="image"></li>
          </ul>
          <p class="font-weight-bold">Watch introduction video</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12" data-aos="fade-in"
        data-aos-duration="1500">
        <div class="banner_image">
          <img class="moving_animation" src="../../assets/images/HomePage/banner-img.svg"
            alt="image">
        </div>
      </div>
    </div>
  </div>
  <!-- wave animation start -->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none"
      shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18
          58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0"
            fill="rgba(255,255,255,0.9" />
          </g>
        </svg>
      </div>
    </section>
    <!-- Banner-Section-end -->




    <!-- Features-Section-Start -->
    <section class="row_am features_section" id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 ml-md-auto">
            <div class="section_title" data-aos="fade-up"
              data-aos-duration="1500" data-aos-delay="100">
              <h2>Right learning at the Right Time <br> is very important.</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features-Section-end -->
    <!-- About-App-Section-Start -->
    <section class="row_am about_app_section">
      <!-- container start -->
      <div class="container">
        <!-- row start -->
        <div class="row">
          <div class="col-lg-6">
            <!-- about images -->
            <div class="about_img" data-aos="fade-in"
              data-aos-duration="1500">
              <div class="frame_img">
                <img class="moving_position_animatin" src="../../assets/images/HomePage/tablet&circle.png" alt="image">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- about text -->
            <div class="about_text">
              <div class="section_title" data-aos="fade-up"
                data-aos-duration="1500" data-aos-delay="100">
                <!-- p -->
                <p>
                  Our digital therapy app involves a machine learning (ML)
                  mechanism by which children can constantly
                  learn and improve without intervention by human
                  therapists. It provides personalized programs to fit
                  the needs of each child, and AI gives instructions
                  according to the child’s progress.
                  <p> The Neo Rx app uses face tracking, eye tracking and body movements to obtain behavior-related information from each child, and it uses it to reinforce learning through visual tracking, motor imitation, actions and visual skills..</p>
                <!-- </p> -->
              </div>
              <a href="#" class="btn puprple_btn" data-aos="fade-in"
                data-aos-duration="1500">Learn More</a>
            </div>
          </div>
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
    </section>




    <!--Experts Team Section Start  -->
    <section class="row_am experts_team_section">
      <div class="container">
        <div class="section_title" data-aos="fade-up"
          data-aos-duration="1500" data-aos-delay="100">
          <!-- h2 -->
          <h2>How does Neo Rx work?</h2>
          <!-- p -->
          <p>
            The Autism Diagnostic Observation Schedule (ADOS-2) is a
            standardized <br> assessment of communication,
            social interaction, play and behaviors in children.
          </p>
        </div>
      </div>
    </section>

    <!-- About-App-Section-Start -->

    <!-- About-App-Section-end -->

    <!-- About-App-Section-Start -->
    <section class="row_am about_app_section about_page_sectino">
      <!-- container start -->
      <div class="container">
        <!-- row start -->
        <div class="row">
          <div class="col-lg-5">
            <!-- about images -->
            <div class="abt_img" data-aos="fade-in"
              data-aos-duration="1500">
              <img src="../../assets/images/HomePage/howDoes.svg" alt="image">

      </div>
      <div class="col-lg-10">
        <a href="#" style="float: right;" class="col-lg-6 btn puprple_btn" data-aos="fade-in"
              data-aos-duration="1500">Learn More</a>
      </div>


          </div>
          <div class="col-lg-7">
            <!-- about text -->
            <div class="about_text">

              <!-- UL -->
              <ul class="app_statstic" id="counter" data-aos="fade-in"
                data-aos-duration="1500">
                <li class="col-lg-8 col-md-8 col-sm-6 p-4"
                  style="border-left:20px solid #0657FF; ">
                  <div class="text">
                    <p><span>Parent Feedback Form</span></p>
                    <p>Give personal and skill-related information about
                      your child</p>
                  </div>
                  <span class="Set_Number_1 ">1</span>
                </li>
                <li class="col-lg-8 col-md-8 col-sm-6 p-4"
                  style="border-left:20px solid #FFAC6E; margin-left:
                  auto;">
                  <div class="text">
                    <p><span>Assessment</span></p>
                    <p>Free assessment for the child based on VBMAPP to
                      create personalized learning module </p>
                  </div>
                  <span class="Set_Number_2">2</span>
                </li>
                <li class="col-lg-8 col-md-8 col-sm-6 p-4"
                  style="border-left:20px solid #FF88C5; ">
                  <div class="text">
                    <p><span>Learning</span></p>
                    <p>Customized therapy module for the child covering
                      social, verbal, behavioral and academic skill
                      domains. </p>
                  </div>
                  <span class="Set_Number_3">3</span>
                </li>
                <li class="col-lg-8 col-md-8 col-sm-6 p-4 "
                  style="border-left:20px solid #8C65E1; margin-left:
                  auto; ">
                  <div class="text">
                    <p><span>Progress Report</span></p>
                    <p>AI generated personalized report showing learning
                      path and growth of child </p>
                  </div>
                  <span class="Set_Number_4">4</span>
                </li>
              </ul>
              <!-- UL end -->
            </div>
          </div>
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
    </section>
    <!-- About-App-Section-end -->

    <section class="row_am why_we_section" data-aos="fade-in">
      <div class="why_inner">
        <div class="container">
          <div class="section_title" data-aos="fade-up"
            data-aos-duration="1500" data-aos-delay="100">
            <h2 class="p-5">Why should you choose Neo Rx?</h2>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up"
                data-aos-duration="1500" data-aos-delay="100">
                <div class="icon">
                  <img src="../../assets/images/HomePage/icon1.svg" alt="image">
                </div>
                <div class="text">
                  <h3>NO WAIT-LIST</h3>
                  <p>Therapy can be accessed anytime, anywhere.​
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up"
                data-aos-duration="1500" data-aos-delay="200">
                <div class="icon">
                  <img src="../../assets/images/HomePage/icon2.svg" alt="image">
                </div>
                <div class="text">
                  <h3>COST EFFECTIVE​</h3>
                  <p>Our solution is affordable, unlike other standard ABA therapy. Every family can access the ABA therapy that their child needs.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up"
                data-aos-duration="1500" data-aos-delay="300">
                <div class="icon">
                  <img src="../../assets/images/HomePage/icon3.svg" alt="image">
                </div>
                <div class="text">
                  <h3>HIGH EFFICACY​</h3>
                  <p>A patented product, which we believe will help in an improved ADOS scores
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up"
                data-aos-duration="1500" data-aos-delay="400">
                <div class="icon">
                  <img src="../../assets/images/HomePage/icon4.svg" alt="image">
                </div>
                <div class="text">
                  <h3>INTERVENTION METHOD</h3>
                  <p>60 – 90-minute sessions on the app every day.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up"
                data-aos-duration="1500" data-aos-delay="300">
                <div class="icon">
                  <img src="../../assets/images/HomePage/icon5.svg" alt="image">
                </div>
                <div class="text">
                  <h3>INDIVIDUAL
                    ASSESSMENT</h3>
                  <p>Comprehensive skill-set assessment for each user in order to clearly determine their condition and to proceed effectively
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up"
                data-aos-duration="1500" data-aos-delay="300">
                <div class="icon">
                  <img src="../../assets/images/HomePage/icon6.svg" alt="image">
                </div>
                <div class="text">
                  <h3>PERSONALIZED THERAPY PLAN</h3>
                  <p>Custom therapy plans developed by AI according to the needs of each child as identified during the assessment and parent feedback.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up"
                data-aos-duration="1500" data-aos-delay="300">
                <div class="icon">
                  <img src="../../assets/images/HomePage/icon7.svg" alt="image">
                </div>
                <div class="text">
                  <h3>REINFORCED LEARNING</h3>
                  <p>Use of concepts based on reinforcement-based learning modules, integral to behavioral therapy.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up"
                data-aos-duration="1500" data-aos-delay="300">
                <div class="icon">
                  <img src="../../assets/images/HomePage/icon8.svg" alt="image">
                </div>
                <div class="text">
                  <h3>INTERACTIVE THERAPY</h3>
                  <p>Interactive therapy based on games and activities will create a space of comfort, fun and relaxation for children, with no dependency on others.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- App-Solution-Section-Start -->
    <section class="row_am app_solution_section ">
      <!-- container start -->
      <div class="container">
        <!-- row start -->
        <div class="row">
          <div class="col-lg-8">
            <!-- UI content -->
            <div class="app_text">
              <div class="section_title" data-aos="fade-up"
                data-aos-duration="1500" data-aos-delay="100">
                <h2 >The Expert Speaks</h2>
              </div>
              <div style="padding-bottom: 5px;"><img
                  src="../../assets/images/Vectornew.svg" style="width: 7%; height:
                  auto;" alt="">
              </div>
              <p data-aos="fade-up" data-aos-duration="1500">
                Neo-Rx has been created to provide supplementary special
                education for children with autism spectrum
                disorder and other developmental delays. Children require
                high quality services for an extended time to
                have a positive effect on their life.
              </p>
              <p data-aos="fade-up" data-aos-duration="1500">
                Our goal is to provide children with skills that will lead
                them to being placed in the least restrictive
                setting possible and to increase their independence. The
                application was created based on the science of
                applied behavior analysis, and it uses evidence-based
                procedures to maximize learning for the child.
                <div style="display: flex; justify-content: end;"><img
                    src="../../assets/images/Vectornew1.svg"
                    style="width: 7%; height: auto;" alt=""></div>
              <!-- </p> -->
            </div>
          </div>
          <div class="col-lg-4 ">
            <div class="app_images" data-aos="fade-in"
              data-aos-duration="1500">
              <ul>
                <li>
                  <a class="popup-youtube play-button">
                    <img src="../../assets/images/HomePage/girlIcon.svg" alt="wen ">
                    <p><b> Dr. Nana Ishikawa</b> <br>
                      BCBA-D​ <br>
                      Clinical director, IMPUTE JAPAN</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
    </section>
    <!-- App-Solution-Section-end -->

    <!-- Subscription plane start -->

    <section class="section-5">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h2 class="subscription-plaan font-weight-bold">Subscription
              plan</h2>
            <p class="subscription-subtitle">
              Enjoy 7 days of free trial lessons!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4  card-web-subs mt-5">
            <div class="card card-sub-1">
              <div class="card-body">
                <div class="card-title">
                  <h1 class="basicplaan">Basic Plan</h1>
                </div>
                <table>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Personalized sessions with animated avatar to guide
                      your
                      child through the sessions;
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Individual assessment for each user;
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Reinforcement based learning modules through games
                      and
                      other activities
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Quizzes and verbal behavior learning
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Real-time performance tracking of each child
                    </td>
                  </tr>
                </table>
                <div class="rupees" style="margin-top: 30px;
                  margin-bottom: 41px">
                  <h6>₹<span class="rupe-sec-font">3999</span>/ month</h6>
                </div>
                <button href="#" class="btn btn-primary select">Select</button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 card-web-subs mb-5">

            <div class="card card-sub-standard">
              <div class="card-body">
                <div class="card-title">
                  <div style="position:absolute; right:0 ;top:0;"><img
                      src="../../assets/images/HomePage/popularplan.svg"> </div>
                  <h2 class="standardplaan">Standard  Plan</h2>
                </div>
                <table>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg-standard"></i>
                    </td>
                    <td class="td-data-standard">
                      Personalized sessions with animated avatar to guide
                      your
                      child through the sessions;
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg-standard"></i>
                    </td>
                    <td class="td-data-standard">
                      Individual assessment for each user;
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg-standard"></i>
                    </td>
                    <td class="td-data-standard">
                      Reinforcement based learning modules through games
                      and
                      other activities
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg-standard"></i>
                    </td>
                    <td class="td-data-standard">
                      Quizzes and verbal behavior learning
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg-standard"></i>
                    </td>
                    <td class="td-data-standard">
                      Real-time performance tracking of each child
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg-standard"></i>
                    </td>
                    <td class="td-data-standard">
                      Web call from a skilled therapist once a month for valuable input based on evaluation results of the child and to answer any questions.
                    </td>
                  </tr>
                </table>
                <div class="rupees-standard" style="margin-top: 30px;
                  margin-bottom: 41px">
                  <h6>
                    ₹<span class="rupe-sec-font-standard">8397</span>/
                    month
                  </h6>
                </div>
                <button href="#" class="btn btn-primary standard-button">
                  enjoy 7 days of free trial lessons
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 card-web-subs mt-5">
            <div class="card card-sub-1">
              <div class="card-body">
                <div class="card-title">
                  <h1 class="basicplaan">Premium Plan</h1>
                </div>
                <table>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Personalized sessions with animated avatar to guide
                      your
                      child through the sessions;
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Individual assessment for each user;
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Reinforcement based learning modules through games
                      and
                      other activities
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Quizzes and verbal behavior learning
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Real-time performance tracking of each child
                    </td>
                  </tr>
                  <tr>
                    <td class="sub-td">
                      <i class="bi bi-check ico-sub-bg"></i>
                    </td>
                    <td class="td-data">
                      Web call from a skilled therapist once a month for
                      valuable input based on evaluation results of the
                      child
                      and to answer any questions.
                    </td>
                  </tr>
                </table>
                <div class="rupees">
                  <h6>₹<span class="rupe-sec-font">28792</span>/ 1 year</h6>
                  <p>(per month cost is ₹2399)</p>
                </div>
                <button href="#" class="btn btn-primary select">Select</button>
              </div>
            </div>
          </div>
        </div>
        <div class="container text-center mt-5">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 ">
              <p class="subscription-para"> If you are the parent of a
                child with autism spectrum disorder
                (ASD) or other learning or development challenges, we
                encourage
                you to <span class="subscription-detail-para">download the
                  Neo</span> Rx application or <span
                  class="subscription-detail-para">get in touch with us</span>
                today to learn more about our app.</p>
            </div>
            <!-- <div class="col-lg-2"></div> -->
          </div>
        </div>
      </div>
    </section>

    <!-- Subscription plane END -->

    <!-- contact page  start -->

    <section class="contact_page_section" id="contact">
      <div class="container">
        <div class="contact_inner">
          <div class="contact_form">
            <div class="section_title">
              <h2>Get in touch</h2>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <img src="../../assets/images/HomePage/contactimg.png" class="img-fluid" alt=""
                  height="500px" width="500px">
              </div>
              <div class="col-lg-6 col-md-6">
                <form action="#">
                  <div class="form-group">
                    <input type="text" placeholder="First Name"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="text" placeholder="Last Name"
                      class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="email" placeholder="Your Email"
                      class="form-control">
                  </div>

                  <div class="form-group">
                    <textarea class="form-control" placeholder="Message (optional)"></textarea>
                  </div>
                  <div class="form-group mb-0">
                    <button type="submit" class="btn puprple_btn">SUBMIT</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- contact page end -->



    <section class="p-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title text-center">
              <h1 class="sub-title text-dark font-weight-bold p-5">Follow
                us</h1>
              <a class="title ">
                <img src="../../assets/images/HomePage/facebook.svg" class="p-4" alt="">
                <img src="../../assets/images/HomePage/youtube.svg" class="p-4" alt="">
                <img src="../../assets/images/HomePage/instagram.svg" class="p-4" alt="">
                <img src="../../assets/images/HomePage/twitter.svg" class="p-4" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>


